.all{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    background-color: aqua;
    width: 30vw;
    height: 50vh;
    margin-left: 100px;
    box-shadow: red;
    font-size: 20px;

}
.all.lib label{
    margin-bottom: 10px;
    border: 2px solid red;
    /* bottom: 70px; */

}
.all .lib label input{
    display: flex;
    border: 2px solid red;
}
button{
    margin-top: 20px;
    margin-left: 20px;
}
label{
    align-items: center;
    display: flex;
    justify-content: center;
}
button{
   
    align-items: center;
    display: flex;
    justify-content: center; 
    margin-left: 350px;
}
label{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 2px solid red; */
    margin-right: 1100px;
}
#mydiv{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    margin-top: 30px;
}
#innerDiv{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    border: 1px solid;
}
#myImage{
width: 300px;
}
#onotherDiv{
    
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    border: 1px solid;
    position: relative;
}